/*Achtergrond*/
.cover {
    background-image: url("../afbeeldingen/fletnix-index-achtergrond.jpg");
    height: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* basis */
.page {
    display: flex;
    flex-wrap: wrap;
}

/*html{*/
/*height: 100%;*/
/*width:100%;*/
/*margin: 0;*/
/*padding:0;*/

/*}*/
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

p, h1, ul{
    color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #ffffff; /* Blue */
    }

}

form {
    flex-direction: column;
    display: flex;
}

.invoerveld {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}


