main{
    height:100%;
    width:100%;
    background-color: #dc0505;
}
h2{
    margin:0;
    color:white;
}

.populaire_film img {
    float: left;
    width: 20%;
    height: 37.5%;
    margin: 30px;
}

.trailer_button {
    background-color: #dc0505;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;

}

.filmoverzicht {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.afbeelding_filmoverzicht_blok {
    text-align: center;
    width: 12%;
    height: 15%;
    margin: 10px;
}

.afbeeldingen_filmoverzicht {
    width: 100%;
    height: 100%;
    margin: 10px;
}


/*avengers infinity war pagina*/
.film_pagina{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.poster_links{
    float:left;
    background-color: #dc0505;
    height:100%;
    width:50%;
}

.poster_film_pagina{
    margin:3%;
    width: 50%;
    height:80%;
}


.details_film{


}

.trailer_poster{
}
.center_tekst {
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trailer_video{
    display:flex;
    align-content: center;
    width:100%;
    height:100%;
    background-color: #dc0505;
}

.achtergrond {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
