<!--/*-->
<!-- * Team: Kaene Peters en Ivan Miladinovic-->
<!-- * Auteur: Kaene en Ivan-->
<!-- * Versie: 2-->
<!-- * Datum: 16 februari 2018-->
<!---->
<!-- * Aangepast:-->
<!-- * - Filmposters, hover -->
<!--*/-->


main{
    height:100%;
    width:100%;
    background-color: #000000;
}
h2{
    margin:0;
    color:white;
    display: flex;
    text-align: center;
}

.background {
    background: rgba(0,0,0,0.7);
    height: 100%;
}


.index-container {
    display: flex;
    flex-direction: row;
    margin: 1% 16% calc(25px + 1%);
    padding: 0 1% 0 1%;
    flex-wrap: wrap;
}

.index-container p {
    margin: 5px 10px;
    color: white;
}

.index-container label {
    color: white;
}

.index-container h1 {
    color: white;
    padding-bottom: 5px;
    border: 5px black;
    border-style: solid none;
    margin: 5px 10px;
    background: black;
    width:50%;
}



.index-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}

/* Film covers */
.index-item img {
    margin:5px 10px;
    width:auto;
    justify-content: space-around;
    height: 250px;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.index-item img:hover{
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
    box-shadow: 10px 10px 5px white;
    -moz-box-shadow: 0px 10px 5px white;
    -webkit-box-shadow: 0px 10px 5px white;
}


.index-item form{
display:flex;
flex-direction: row;
margin-left:10px;
}

.index-item label,input {
margin-right:3px;

}



.index-text {
height: 99.5%;
width: 100%;
position: absolute;
z-index: 3;
text-align: center;
}

.index-text p {
font-size: 20px;
margin: 5% 20px;
color: #e0e0e0;
}

.index-text h2 {
font-size: 30px;
margin: 50px 20px;
color: rgb(158, 154, 117);
}

.index-text a {
color: indianred;
}

input[type=text] {
    border: none;
    width: 10%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}

input[type=number]{
    width: 8%;
}

