footer{
    align-content: flex-end;
    position: absolute;
    bottom: 0px;
    height: 15%;
    width: 100%;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items:flex-start;
}

.footer1 {
    width:20%;
}
.footer2 {
    width:20%;
}

.bottom {
    display: flex;
    justify-content: center;
    background-color:black;

}