

.gastenboek{
   height: 100%;
    width: 100%;
}

.invoerveld{
    height:100%;
    width: 40%;
    background: rgba(255,255,255,0.9);
}

form {
    flex-direction: column;
    display: flex;
}

.commentswel{
    height:100%;
    width: 60%;
}
.commentsniet{
    width: 100%;
    height: 100%;
}