
.gastenboek {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.invoerveld {
    height: 100%;
    width: 40%;
    background: rgba(255, 255, 255, 0.9);
    padding: 0.5em;
    color: #dc0505;
    text-align: start;
}

form {
    flex-direction: column;
    width: 90%;
    justify-content: inherit;
    display: flex;
}

.commentswel {
     width: 55%;
    justify-content: space-around;
    display: flex;
}

.commentswel div {
    width: 30%;
    height: 30%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-wrap: wrap;
}

.commentsniet {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
}

.commentsniet div {
    width: 10%;
    height: 15%;
    background: rgba(255, 255, 255, 0.9);
}

.commenttext{
    color: #dc0505;
}