<!--/*-->
<!-- * Team: Kaene Peters en Ivan Miladinovic-->
<!-- * Auteur: Kaene en Ivan-->
<!-- * Versie: 1-->
<!-- * Datum: 16 februari 2018-->
<!---->
<!-- * Aangepast:-->
<!-- * - Geen veranderingen. -->
<!--*/-->

h1 {
    margin-left: 50px;
    
}

.filmoverzicht2 {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}