<!--/*-->
<!-- * Team: Kaene Peters en Ivan Miladinovic-->
<!-- * Auteur: Kaene en Ivan-->
<!-- * Versie: 1-->
<!-- * Datum: 16 februari 2018-->
<!---->
<!-- * Aangepast:-->
<!-- * - Geen veranderingen. -->
<!--*/-->



.voorwaarden {
    color:white;

}

.voorwaarden p,h1,li {

    margin-left:10%;
    margin-right:10%;
    width: 75%
}
