<!--/*-->
<!-- * Team: Kaene Peters en Ivan Miladinovic-->
<!-- * Auteur: Kaene en Ivan-->
<!-- * Versie: 1-->
<!-- * Datum: 16 februari 2018-->
<!---->
<!-- * Aangepast:-->
<!-- * - Geen veranderingen. -->
<!--*/-->



.voorwaarden {
    background: rgba(0,0,0,0.7);
    color:white;
    margin-left:75px;
    margin-right:75px;
}
